@use '../custom' as *;
@use '../components/mixins' as *;
// @use '../custom' as c;
// @use '../custom' as custom; // means that we are using it as namespace

.menu {
    @include gradient;
    

    li { 
        padding: 0 0.7rem;
    
        a{
            color: $white !important;
            text-transform: capitalize;
            font-weight: 600;
        }
    }
}

